* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ralewayregular', Arial, sans-serif;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  margin: 0px;

}
a{
  color: azure;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}
.active{
  color: black;
}
//header
header{
  margin: 0 auto;
  width: 1300px;
  background-color: burlywood;
  min-height: 5em;
}
.headerMain{
  margin: 0 auto;
  width: 1200px;
}
.logo{
  float: left;
  font-size: 2.6em;
  font-weight: bolder;
}
.menu{
  float: right;
}
.menuItem{
  font-size: 1em;
  display: inline-block;
  padding: 10px;
}


//main
.container{
  margin: 0 auto;
  width: 1300px;
  height: 100%;
  display: flex;
  border-right: 20px solid burlywood;
}
.containerAside{
  width: 15em;
  height: 100%;
  background-color: burlywood;

}
.aside{

}
.asadeList{
  width: 100%;

}
.asideItem {
  text-decoration: none;
  list-style-type: none;
  height: 7em;
  text-align: center;
}
.itemList{
  background-image: url(".././images/pap.png");
  background-size: cover;
  padding-top: 3em;
}
.bascet {
  height: 8em;
}

 .basketLogo{
   width: 3em;
   height: 3em;
   background-image: url(".././images/basket.png");
   background-size: contain;
   position: relative;
   left: 5em;
   background-repeat: no-repeat;
 }


.books{
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book{
  border: 1px solid #d6d5d5;
  padding: 0.5em;
  width: 200px;
  display: block;
}

.title, .author{
  text-align: center
}
.cover{
  position: relative;
  left: 2.3em;
}
.btn{
  position: relative;
  left: 4em;
  background-color: brown;
  color: #d6d5d5;
  font-weight: bold;
}






footer{
  margin: 0 auto;
  width: 1300px;
  height: 5em;
  background-color: burlywood;
}
