* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ralewayregular', Arial, sans-serif;
}
@font-face {
  font-family: 'ralewayregular';
  src: url('../assets/fonts/raleway-regular.woff2') format('woff2'), url('../assets/fonts/raleway-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
  margin: 0px;

}
a{
  color: azure;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}
.active{
  color: black;
}






.headerStyle{
  text-align: center;
  padding: 1.2em;
  color: sienna;
}











.menu{
  float: right;
}

.booksImage{
  width: 40em;
  height: 40em;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/books.png");
  display: flow;
  left: 40em;
  right: 40em;
  margin: 0 auto;
}


.mapouter{
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}
//main

.tableContainer{
  padding-top: 2em;
  width: 550px;
  margin: 0 auto;
}


.mainSide{
  background-image: url("../assets/images/books.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  color: white;
  font-size: 2em;
  text-align: center;
  text-shadow: 2px 2px #000000;
}
.backgr {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px -5px 40px #00000029;
}


.bascet {
  height: 8em;
  color: sienna;
}

table {
  width: 500px;
  height: 50px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 4px hsla(0, 0%, 15%, 0.59);
}

td{
  max-width: 30px;
  text-align: center;
}
.totalprice{
  text-align: center;
  font-size: 2em;
  color: sienna;
}



.books{
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book{
  border: 1px solid #d6d5d5;
  background-color: beige;
  padding: 0.5em;
  width: 200px;
  display: block;
}

.title, .author{
  text-align: center
}
.cover{
  position: relative;
  left: 2.3em;
}
.btn{
  position: relative;
  font-size: 0.8em;
  left: 2em;
  background-color: sienna;
  width: 10em;
  height: 3em;
  border-radius: 20%;
  color: white;
  font-weight: bolder;
}
.btn2 {
  left: 30em;
}



.rights{
  display: flex;
  flex-direction: column;
}

.bestbookstoreRights{
  color: sienna;
  font-size: 0.7em;
}
.media{
  float: right;
}
.mediaLogo{
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}
.facebook{
  background-image: url("../assets/images/facebook.png");
  background-size: cover;
}

.tweeter{
  background-image: url("../assets/images/tweeter.jpg");
  background-size: cover;
}
input[type="text"],
textarea {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 4px hsla(0, 0%, 15%, 0.59);
  width: 30em;
  display: block;
}

textarea {
  min-height: 150px;
}