.booksImage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  backdrop-filter:inherit;
}

.about-header{
  font-size: 1.5em;
  margin: 1.2em;
  text-align: center;
}

.about-text {
  margin: 3%;
  font-size: 0.9em;
}

@media screen and (max-width: 900px) {
  .booksImage {
    width: 100%;

  }
}