.booksImage {
  width: 40em;
  height: 40em;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/books.png");
  display: flow;
  left: 40em;
  right: 40em;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .booksImage {
    width: 100%;

  }
}