.itemList{
    background-image: url(".././assets/images/pap.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 2.5em;
    margin-bottom: 50px;
}
.itemList:first-child {
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .itemList {
    background-image: none;
    padding-top: 3px;
    margin-bottom: 2px;
  }

  .itemList:first-child {
    margin-top: 1px;
  }
}