.asideMenu{
    width: 15em;
    height: 100%;
    background-color: burlywood;
    .asideItem {
        text-decoration: none;
        list-style-type: none;
        height: 7em;
        text-align: center;
      };
};
.mainWindow {
    z-index: 90;
}

@media (max-width: 699px) {
    .asideMenu {
        display: none;
    };
};