.itemList{
    background-image: url(".././assets/images/pap.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 2.5em;
    margin-bottom: 50px;
}
.itemList:first-child {
  margin-top: 50px;
}
