.itemList{
    background-image: url(".././assets/images/pap.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 2.5em;
    margin-bottom: 50px;
}
.itemList:first-child {
  margin-top: 50px;
}

@media screen and (max-width: 900px) {
  .itemList {
    font-size: 0.5em;
    background-image: none;
    color: $secondLogo;
    list-style-type: none;
    margin-bottom: 0;
    padding-top: 15px;
  }

  .itemList:first-child {
    margin-top: 0;
  }
}