.auth {
    color: black;
    font-size: 0.8rem;
}

.error {
    margin-top: 0.25rem;
    text-align: center;
    color: #f65157;
}

.form_error {
    color: #721c24;
    text-align: center;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.5rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 1rem 0;
}