.basket_container {
  width: 80%;
  height: 100px;
  display: flex;
  margin-bottom: 10px;
  margin: 1%;
  border: 1px solid $formBorder;

  .basket_container_book {
    display: flex;
    height: 100%;
    width: 60%;

    .basket_container_book_cover {
      display: inline-block;

      .basket_container_book_cover-cover {
        width: 95px;
        height: 95%;
        margin-top: 2.5%;
      }
    }

    .basket_container_book_desc {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;

      .basket_container_book_desc-title {
        font-size: 1em;
        ;
      }

      .basket_container_book_desc-author {
        font-size: 0.7em;
        color: $drawerNavTitle;
      }
    }
  }

  .basket_container_price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 30%;

    .basket_container_price-price {
      font-size: 0.8em;
      color: $drawerNavTitle;
    }

    .basket_container_price-value {
      font-size: 1em;
    }
  }

  .basket_container_remove {
    display: inline-block;
    margin-top: 4%;
    height: 30px;
    width: 30px;
    background-image: url("../assets/images/remove.png");
    background-size: cover;
    cursor: pointer;
  }
}


@media screen and (max-width: 900px) {
  .basket_container {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .basket_container {
    width: 100%;
  }
}