.basketLogo{
    width: 5em;
    height: 3em;
    background-image: url(".././assets/images/basket.png");
    background-size: contain;
    position: relative;
    left: 4em;
    background-repeat: no-repeat;
}
  .inBasket{
    padding: 0;
  }