.tableContainer{
    padding-top: 2em;
    width: 550px;
    margin: 0 auto;
}
.totalprice{
    text-align: center;
    font-size: 2em;
    color: sienna;
}
table {
    width: 500px;
    height: 50px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 15%, 0.59);
  }
  
  td{
    max-width: 30px;
    text-align: center;
  }