.basket {
  padding-left: 25px;
  padding-right: 5px;
}

.basketLogo {
  background-image: url(".././assets/images/basket.png");
  background-size: contain;
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  margin: auto;
}

.inBasket {
  font-size: 0.6em;
  padding: 0;
  text-align: center;
  color: black;
}



.basketLogoSmall {
  .basketLogo {
    width: 3em;
    height: 2em;
    background-image: url(".././assets/images/basket.png");
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
  }

  .inBasket {
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .basket {
    text-align: center;
    color: $primaryColorDark;
    font-size: 0.9em;
    margin: 40px;
  }

  .basketLogo {
    margin: 0 auto;
  }

  .inBasket {
    margin: 7px;
  }

  .inBasket:first-child {
    display: none;
  }
}