.basket{
  margin-top: 30px;
}
.basketLogo{
    background-image: url(".././assets/images/basket.png");
    background-size: contain;
    position: relative;
    left: 0.5em;
    background-repeat: no-repeat;
}
  .inBasket{
    font-size: 0.6em;
    padding: 0;
    text-align: center;
    color: black;
  }

  .basketLogoSmall {
    .basketLogo{
      width: 3em;
      height: 2em;
      background-image: url(".././assets/images/basket.png");
      background-size: contain;
      position: relative;
      left: 4em;
      background-repeat: no-repeat;
  }
    .inBasket{
      padding: 0;
    }
}

@media screen and (max-width: 900px) {
  .basket {
    border: 1px solid black;
    text-align: center;
    color: $primaryColorDark;
    font-size: 0.8em;
  }
  .basketLogo{
    left: 7em;
  }
  .inBasket:first-child {
    display: none;
  }
}