.books{
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .book{
    margin: 3px;
    border: 1px solid $bookBorder;
    background-color: $bookBackground;
    padding: 0.5em;
    width: 200px;
    display: block;
  }
  
  .title, .author{
    text-align: center
  }
  .cover{
    position: relative;
    left: 2.3em;
  }

  .btn2 {
    left: 30em;
  }
  .new{
    position: relative;
    bottom: 150px;
    text-align: center;
    color: white;
    width:70px;
    height: 20px;
    background-color: $secondLogo;
  }
