.btn{
  position: relative;
  font-size: 0.75em;
  margin: 7px;
  left: 2em;
  background-color: white;
  width: 12em;
  height: 2em;
  color: $secondLogo;
  font-weight: bolder;
  cursor: pointer;
  border: 1px solid $secondLogo;
}

.btn a{
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 4px;
  color: $secondLogo;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
}

.btnSmall{
  width: 5em;
  height: 2em;
}

.btn:disabled{
  background-color: $disabled;
  cursor: not-allowed;
}
.btn:hover{
  color: white;
  background-color: $secondLogo;
  a{
    color: white;
  }

}

