.description_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    margin: 2em;

    .description_cover {
        width: 40%;

        .description_cover-cover {
            height: 400px; width: 400px
        }
    }

    .description_info {
        width: 60%;

        .description_info-title {
            font-size: 1.6em;
            margin-bottom: 1em;
        }

        .description_info-author {
            font-size: 1em;
            color: $drawerNavTitle;
            margin-bottom: 3em;
        }

        .description_info-description {
            font-size: 0.9em;
        }
    }
}

@media screen and (max-width: 900px) {
    .description_container {
        flex-direction: column;

        .description_info {
            width: 60%;
            margin: 3em;
        }
    }

}