.footerMain{
  margin: 0 auto;
  width: 100%;
  height: 6em;
  background-color: burlywood;
  .footerMain_container{
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    .rights{
      flex-direction: column;
    }
    .bestbookstoreRights{
      color: sienna;
      font-size: 0.7em;
    }
    .media{
      display: flex;
      justify-content: space-between;
      width: 10%;
    }
    .mediaLogo{
      margin-top: 90%;
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
    }
    .facebook{
      background-image: url("../assets/images/facebook.png");
      background-size: cover;
    }
    
    .tweeter{
      background-image: url("../assets/images/tweeter.jpg");
      background-size: cover;
    }
  }
}

@media screen and (max-width: 900px) {
  .bestbookstoreRights {
    font-size: 0.3em;
  }
}
