input[type="text"],
textarea {
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 4px hsla(0, 0%, 15%, 0.59);
  width: 30em;
  display: block;
}

textarea {
  min-height: 150px;
}