.header{
    width: 100%;
    display: flex;
    justify-content:space-around;
    position: sticky;
}

@media screen and (max-width: 900px) {
    .mainMenu {
        margin-left: 0;
    }
    .header .basket{
        display: none;
    }
} 