.input {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid $formBorder;
  width: 100%;
  display: inline-block;
}

textarea {
  padding: 15px;
  min-height: 150px;
}

select {
  padding: 15px;
  width: 20px;
}

.invalid {
  border: 1px solid $invalidColor;
  background-color: $invalidBackground;
}

input::placeholder {
  color: black;
  font-style: italic;
}

@media screen and (max-width: 400px){
  .input{
      width: 20em;
  }
}