.mainMenu{
    width: 100%;
    height: 190px;

    .mainMenu_container{
    width: 100%;
    display: flex;
    justify-content:space-around;
    .logo{
        margin-top: 40px;
    margin-left: 15em;
    font-size: 0.8em;
    }
    }
}

@media screen and (max-width: 900px) {
    .mainMenu {
        margin-left: 0;
    }
    .basket{
        display: none;
    }
}

