.container{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    .mainWindow {
        width: 100%;
        min-height: 100vh;
    }
}

@media screen and (max-width: 900px) {
    .container{

    }
}