.navigation {
    width: 100%;
    height: 100%;
    //background-color: rgb(245, 235, 224);
}

.container {
    margin: 0 auto;
    width: 1050px;
    height: 100%;
    background-color: white;

    .mainWindow {
        width: 100%;
        min-height: 100vh;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 100%;
    }
}