.container{
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    border-right: 20px solid burlywood;
    .mainWindow {
        width: 100%;
        min-height: 100vh;
    }
}

@media screen and (max-width: 900px) {
    .container{
        border-right: 10px solid burlywood;  
        border-left: 10px solid burlywood;
    }
}