.orders {
    margin: 6%;
    width: 60%;

    .orders_order {
        padding-bottom: 5%;
        width: 80%;
        margin: auto;
        .orders_order-i{
            font-size: 0.8em;
            letter-spacing: 0.07em;
            line-height: 1.5em;
        }
    }
}

@media screen and (max-width: 700px) {
    .orders {
        width: 80%;
    }
}