.mapouter {
  display: flex;
  justify-content: center;
  padding-bottom: 4em;
}

iframe {
  margin: 0 auto;
  display: block;
  width: 500px;
  height: 500px;
}

.selfPickupInfoStyle {
  margin: 10% 0% 10% 10%;
  padding: 1.2em;
}

.selfPickupMapStyle {
  text-align: center;
  margin: 2%;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  iframe {
    width: 300px;
    height: 300px;
  }
}