.drawer {
    display: inline;
    position: fixed;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 16px;
    padding-top: 6px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

.sideDrawer_nav_title {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: dimgray;
    font-weight: bold;
}

.horizontalLine {
    margin: 15px;
}