.header_buttons_item-user_sublist {
    background-color: rgb(255, 255, 255);
    font-size: 60%;
    display: inline;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: 80px;
    z-index: 120;

    li{
        background-color: rgb(255, 255, 255);
        padding: 6%;
        list-style: none;
        text-decoration: none;
        .user{
            display: inline;
        }
    }
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateY(-1000%);
}