$primaryColorLight: burlywood;
$primaryColorDark: sienna;
$secondLogo: darkslateblue;
$bookBackground: beige;
$bookBorder: #d6d5d5;
$formBorder: #ccc;
$menuFonts: rgb(255, 255, 255);
$drawerNavTitle: rgb(107, 107, 107);
