$primaryColorLight: burlywood;
$primaryColorDark: sienna;
$secondLogo: darkslateblue;
$bookBackground: white;
$bookBorder: #d6d5d5;
$formBorder: #ccc;
$menuFonts: rgb(255, 255, 255);
$drawerNavTitle: rgb(107, 107, 107);
$invalidColor: rgb(245, 0, 0);
$invalidBackground: rgb(247, 166, 193);
$disabled: #ccc;