@font-face {
    font-family: 'ralewayregular';
    src: url('../assets/fonts/raleway-regular.woff2') format('woff2'), url('../assets/fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}