* {
margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'ralewayregular', Arial, sans-serif;
}
html, body {
   height: 100%;
   margin: 0px;
}
a{
   color: azure;
   text-decoration: none;
   font-size: 1.2em;
   font-weight: bold;
}
.active{
    color: black;
}